#charFrame li{
    list-style: none;
}

#charFrame .bodypart{
    z-index: 1;
}

#charFrame .layer_1part {
    z-index: 2;
}

#charFrame .layer_2part {
    z-index: 3;
}

#charFrame .layer_3part {
    z-index: 4;
}

#charFrame .mouthspart, .nosespart, .eyespart, .eyebrowspart, .facial_hairpart, .hairpart {
    z-index: 5;
}

#charFrame .earringspart, .glassespart, .hatspart, .neckwearpart {
    z-index: 6;
}

#charPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(0, 128, 0);
    background-color: rgb(70, 147, 192);
    border-radius: 15px;

    position: sticky;
    width: 50vw;
    max-width: 500px;
    aspect-ratio: 1/1;
    top: 10px;
}



#charFrame img {
    max-width: 90%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}

#previewCont {
    background-color:#9acd32;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 10px 0px 50px 0px;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px #9acd32;
}