.headerContainer {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f46036;
  border: 5px solid #114b5f;
  border-radius: 20px;
  width: 60vw;
  max-width: 600px;
}

.headerContainer .appHeader {
  margin: 5px;
  color: #114b5f;
  font-weight: bolder;
  font-size: xx-large;
}
